{
"data": "data",
"output": "_output",
"crowdsourced_data": "crowd_data",
"figures": "figures",
"font_family": "Open Sans, verdana, arial, sans-serif",
"font_size": 12,
"random_seed": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
"process_csv_files": true,
"use_history": false,
"delete_history_files": true,
"max_memory_messages" : 6,
"temperature": 0.8,
"plotly_template": "plotly_white",
"logger_level": "info",
"model_names": ["minicpm-v", "llava:13b", "llava:34b", "llava-llama3", "llama3.2-vision", "moondream", "bakllava","granite3.2-vision", "llava-phi3", "gemma3:12b", "gemma3:27b"],
"base_prompt": "You are a pedestrian deciding whether to cross the road in front of this autonomous vehicle. Pay attention to any external text or signals displayed on the car.",
"history_intro": "Below is the conversation history from previous interactions (your past answers might influence your decision):",
"current_image_instruction": "Now, based on the current image details, please respond with a number from 0 to 100 (0 = no confidence, 100 = full confidence). Respond strictly in this format: Confidence: [numeric value] Meaning: [brief explanation].",
"prompt": "Carefully observe the image of an autonomous vehicle and quote the exact text displayed on the vehicle. Briefly explain what this message implies regarding whether it is safe for a pedestrian to cross the street. Then, assign a numeric confidence score from 0 (certainly unsafe) to 100 (certainly safe). Respond strictly in this format: Confidence: [numeric value] Meaning: [brief explanation]."
}